* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "libr";
  src: url("./fonts/LibreCaslonText-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mon";
  src: url("./fonts/Montserrat-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ant";
  src: url("./fonts/Antiga-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.a{
  color: inherit;
  text-decoration: none;
}